  body{
      margin: auto 0 ;
      padding: 10px 10px;
       background-color: #E8DED2 ; 
        background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);
      /* border: #60baee solid 3px; */
  }
  

  
  h1 {
     text-align: center;
      color: #b91d85;
        text-shadow: 1px 2px palevioletred;
      font-variant: small-caps;
      font-size: 50px;
     width: 200px;
     border: #b91d85 3px solid;
     border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius:100px;
      margin-left: 100px;
      margin-top: 1px ;
       animation-name: h1;
  animation-duration: 20s;
    position: relative;
      animation-iteration-count: 3;
  }

  @keyframes h1 {
  0%   {background-color:rgb(246, 161, 228); left:0px; top:0px;}
  25%  {background-color:#cacccc; left:800px; top:0px;}
 75% {background-color:rgb(246, 161, 228); left:20px; bottom:100px;}
 
}
 nav {
      background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg") ;

   height: 205px;
   width: 1000px;
   margin: 0 auto;
     text-align: center;
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 1;
         border-radius: 200px ;
         border-color: rgb(255, 162, 219);
       
 }


 a {
    color: black;
     background: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 10px ;
  text-decoration: none;
  
  font: bold  17px  red;
  margin: 30px 10px;
  border-style: solid;
  border-color: #d3389f;
  border-radius: 40%;
  background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);

  	opacity: 1;

 }
 a:hover {
 background: rgb(130, 182, 134);
}

 .teamppic {
   margin-left: 161px;
     /* display:inline-block; */
     background-color: #a3d2ca;
      /* background-image: linear-gradient(#fbb5e6, #5eaaa8,pink); */
      
     width: 250px;
     height: 600px;
     background-image: url('/image/team.jpg')   ,url('/image/team.jpg') ,url('/image/team.jpg');
      background-repeat: no-repeat;
     background-position:center top , center center ,  center bottom;
       background-size: 180px 80px,  180px 80px ,180px 80px ;

         border-radius: 200px ;
           
 }
  article {
      float: right;
  padding: 20px;
  margin: 20px 250px ;
  width: 600px;
     background-color: #E8DED2 ; 
        background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);
          border-radius: 100px ;
           border-color: #d3389f;
        

  /* #FCA5F1 */
  /* #B5FFFF */

  height: 540px;
  /* border: #049e9e double 2px;  */
  }
   footer {
  margin-left: 50%;
   }
   
@media only screen and (max-width: 600px) {
  body {
        margin: auto 0 ;
      padding: 1px 1px;
       background-color: #E8DED2 ; 
        background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);
  }

   nav {
 float: left;
   height: 50px;
   width: 400px;
  margin: 0 auto; 
     text-align: center;
      font-size: 5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
        /* border-image: 20px solid #af0598; */
  
 }

  .teamppic {
   margin-left: 161px;
     /* display:inline-block; */
   
    
      /* background-image: linear-gradient(#fbb5e6, #5eaaa8,pink); */
      
     width: 250px;
     height: 400px;
     background-image: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg') ;
      background-repeat: no-repeat;
     background-position:right center ;
      background-size:   180px 300px ;
           
 }


  article {
    
  width: 300px;
  background-color:    hsl(308, 100%, 89%) ;
   background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);

  height: 500px;
  
  float: right;
    padding: 20px;
    margin: 400px 30px;
  
    text-align: left !important;

  /* visibility: hidden; */

  }
  




  h1 {
      text-align: center;
      color: #056676;
       
      font-size: 30px;
animation-name: h1;
  animation-duration: 4s;
  animation-iteration-count: 90;
  animation-direction: alternate;  
  }

  @keyframes h1 {
  10%   {background-color:palevioletred; left:0px; top:0px;}
  25%  {background-color:rgb(167, 207, 245); left:50px; top:0px;}
}


   a {
    color: black;
     background: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 10px ;
  text-decoration: none;
  font-size: 17px;
 margin-left: 2px;
 margin-right: 250px ;
 margin-bottom: 3px ;
 margin-top: 50px ;
  border-style: solid;
  border-color: #15bbbb;
  border-radius: 30%;
     background-image: linear-gradient(#fbb5e6, #5eaaa8,pink);
  	opacity: 1;

 }

  footer {
 width: 1400px;
 height: 90px;
 margin : 10px 1000px ;
  }
  html {
    width: 400px ;
    height: 500px;
  }

}